@tailwind base;
@tailwind components;

html {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
	display: none;
}

.tooltip {
	@apply invisible absolute;
}

.has-tooltip:hover .tooltip {
	@apply visible z-50;
}

@tailwind utilities;
